body{
    padding: 0;
    margin: 0;
    align-content: center;
    background-color: whitesmoke;
}

.nav-bar{
    background-color: white;
    display: flex;
    height: 15pc;
    width: 100%;
    align-items: center;
    overflow: hidden;
    transition: top 0.3s;
}

.voltar img{
    height: 40px;
    margin-left: 100%;
}

.nav-bar h1{
    color: black;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    padding: 0px;
    flex-direction: column;
}

.truth{
    margin-left: 43%;
}

.nav-bar a{
    text-decoration: none;
}

.top{
    margin-top: 1pc;
}

.fundo{
    background-color: rgb(37, 37, 37);
    height: 70pc;
    max-width: 60%;
    border-radius: 20px;
    margin-left: 20%;
    margin-top: 50px;   
}



.footer{
    display: flex;
    background-color: rgb(221, 221, 221);
    margin-top: 12%;
    height: 20pc;
}

.footer li{
    display: flex;
    padding: 10pc;
    margin-left: 95%;
    font-style: none;
    font-size: 30px;
    list-style: none;

}

.footer2{
    display: flex;
    height: 5pc;
    background-color: white;
    box-shadow: 0px -2px 20px 2px rgb(186, 186, 186);
}

.footer2 li{
    display: flex;
    float: left;
    margin: 17px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all ease 0.3s;
}

.footer2 a{
    color: black;
}

.footer2 li:hover{
    color: rgb(209, 190, 83)
}