body{
    padding: 0;
    margin: 0;
    align-content: center;
    background-color: whitesmoke;
}

.nav-bar{
    background-color: white;
    display: flex;
    height: 15pc;
    width: 100%;
    align-items: center;
}

.nav-bar h1{
    color: black;
    margin-top: 15%;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    margin-left: 10pc;
    padding: 0px;
    flex-direction: column;
}


.nav-bar a{
    text-decoration: none;
}

.nav-item{
    margin-top: 10px;
    margin-left: 5%;
}

.nav-bar li{
    display: flex;
    font-style: none;
    list-style: none;
    margin-left: 4pc;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    float: left;
}

.nav-bar li a{
    text-decoration: none;
    color: rgb(95, 95, 95);
    transition: all ease 0.3s;
}

.nav-bar li a:hover{
    color: rgb(209, 190, 83);
}

.carrinho{
    display: flex;
    cursor: pointer;
    margin: 50px;
    margin-left: 15%;
    height: 40px;
    width: auto;
}

.carrinho:hover{
    transform: scale(1.1);
}


.bar2{
    display: flex;
    height: 3pc;
    background-color: rgb(172, 155, 58);
}

.bar2 h1{
    margin: 10px;
    margin-left: 35%;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.bar2 h1 a{
    color: rgb(87, 44, 19);
}

.cadastro{
    display: flex;
    margin-left: 33%;
    margin-top: 2%;
}


input{
    width: 465px; /* Largura */
    height: 50px; /* Altura */
    padding: 10px; /* Espaçamento interno */
    font-size: 20px; /* Tamanho da fonte */
    border: 2px solid #8f8f8f; /* Borda */
    border-radius: 5px; /* Borda arredondada */
    box-sizing: border-box; /* Inclui o padding na largura total */
}

.submit{
    margin-top: 50px;
}

.submit input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    cursor: pointer;
    background-color: rgb(172, 155, 58);
}

.footer{
    display: flex;
    background-color: rgb(221, 221, 221);
    margin-top: 12%;
    height: 20pc;
}

.footer li{
    display: flex;
    padding: 10pc;
    margin-left: 95%;
    font-style: none;
    font-size: 30px;
    list-style: none;

}

.footer2{
    display: flex;
    height: 5pc;
    background-color: white;
    box-shadow: 0px -2px 20px 2px rgb(186, 186, 186);
}

.footer2 li{
    display: flex;
    float: left;
    margin: 17px;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all ease 0.5s;
}

.footer2 a{
    color: black;
}

.footer2 li:hover{
    color: rgb(209, 190, 83)
}
